export APP_VERSION=
export APP_MODE=
export APP_CONTAINERIZED=
export APP_ENABLE_DOCS=
export APP_LOG_LEVEL=
export APP_LOG_PATH=
export APP_TOKEN=
export DEFAULT_API_RETRY_COUNT=
export DEFAULT_API_RETRY_START_TIMEOUT=
export VERIFY_SSL=
export POSTGRES_HOST=
export POSTGRES_PORT=
export POSTGRES_USER=
export POSTGRES_PASSWORD=
export POSTGRES_DB=
export POSTGRES_TIMEOUT=
export POSTGRES_MIN_CONNECTIONS=
export POSTGRES_MAX_CONNECTIONS=
